@font-face {
   font-family: [Arial];
   src: url('https://fonts.cdnfonts.com/css/arial-2');
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#text {
  user-select: none;
}

p {
  font-family: 'Arial', bold;
  font-size: 30px;
}

canvas {
	display: block;
	background-color: #fff;
	width: 100vw;
	height: 100vh;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}
