@font-face {
   font-family: [Roboto];
   src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

canvas {
	display: block;
	background-color: #fff;
	width: 100vw;
	height: 100vh;
}

p {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}

#text {
  user-select: none;
}
